<%= turbo_frame_tag "main" do %>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-20 w-auto" src="https://rubyonrails.org/assets/images/logo-railsworld.svg" alt="Rails World">
        <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Rails World Conference!</h2>
    </div>
    <div id="flash" class="empty:hidden px-4 flex justify-center my-1">
        <%= render "shared/flash_messages" %>
    </div>

    <%= turbo_frame_tag "registration-sign-in" do %>
        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm flex flex-row justify-around">
        <% if current_user %>
            <p>This is where your Schedule should be!</p>
        <% else %>
            <%= button_to("Register", new_user_registration_path, method: :get, :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" )%>
            <%= button_to("Login", new_user_session_path, method: :get, :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded")%> 
        <% end %>
        </div>
    <% end %>
</div>
<%end%>