<%= render 'shared/onboarding_header'%>
<div class="  ">
  <div class="flex min-h-full flex-col justify-center px-4 lg:px-8">
    <div class="mt-1 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col justify-center text-primary italic text-left">
      <% unless Flipper.enabled? :signup_disabled %>
        <div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "px-2 pt-6 pb-8 mb-2"}) do |f| %>
          <h1 class="text-2xl mb-3 font-extrabold dark:text-white flex w-full">Sign Up</h1>
            <div class="mb-1">
              <%= render "devise/shared/error_messages", resource: resource %>
            </div>

            <div class="field mb-8">
              <%= f.label "Your Name *", class: "block text-sm font-bold mb-2" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="field mb-8">
              <%= f.label "Email *", class: "block text-sm font-bold mb-2" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="field mb-8">
              <%= f.label "Password *", class: "block text-sm font-bold mb-2" %>
              <%= f.password_field :password, requird: true, autocomplete: "new-password" , placeholder: "Password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
            </div>

            <div class="field mb-8">
              <%= f.label "Repeat Password *", class: "block text-sm font-bold mb-2" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="actions mb-4 w-full flex flex-col text-center">
              <%= f.submit "Sign up",:class => "bg-secondary hover:bg-primary active:bg-primary text-white font-bold py-4 px-4 w-full italic rounded" %>
              <%= link_to("Go Back", root_path, data: { turbo_frame: "_top" }, method: :get, :class => "bg-secondary-100 hover:bg-primary active:bg-primary  text-white font-bold py-4 px-4 w-full italic rounded my-2") %>
            </div>
          <% end %>
      </div>
      <% else %>
        <p>Registration Closed</p>
      <% end %>
    </div>
  </div>
</div>
