<%= turbo_frame_tag "registration-sign-in" do %>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-row justify-around">
    <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up",  data: { turbo_frame: "_top" },:class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
      <% end %>
      <%= button_to("Go Back", root_path, method: :get, :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded")%>
    </div>
  </div>
<%end%>

