<p style="color: green"><%= notice %></p>

<div class="flex flex-row justify-between items-center">
  <h1>Your Notifications!</h1>
  <div>
    <%= form_tag(read_all_path, method: :post) do %>
      <%= submit_tag 'Read All', class:"bg-pink-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
    <%end%>
  </div>
</div>
<div id="notifications">
<%= turbo_stream_from "notifications" %>
  <% @notifications.each do |notification| %>
    <p>
      <% case notification.type %>
      <% when "Talk::ReminderNotification"  %>
        <%= link_to "#{notification.to_notification.message}: #{notification.talk.title} at #{notification.talk.formatted_start_time}", talk_path(notification.talk)%>
      <% end %>
    </p>
  <% end %>
</div>

