<p style="color: green"><%= notice %></p>
<div class="flex flex-row justify-between items-center mb-4">
  <h1 class="font-extrabold text-xl lg:text-4xl text-primary"><em>Notifications</em></h1>
</div>

<div data-controller="tabs" data-tabs-active-tab="bg-secondary focus:bg-secondary text-white" data-tabs-inactive-tab="bg-secondary-50">
  <ul class="list-reset flex justify-center">
    <li class="w-full text-center" data-tabs-target="tab" data-action="click->tabs#change" data-tabs-index-value="1">
      <a class="inline-block py-3 px-6 mx-10 text-white text-xl font-semibold no-underline" href="#"><em>Unread</em></a>
    </li>
    <li class="w-full text-center" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-3 px-6 mx-10 text-white text-xl  font-semibold no-underline" href="#"><em>Past</em></a>
    </li>
  </ul>

  <div class="hidden" data-tabs-target="panel" data-controller="notifications" data-notifications-unread-value=<%= @unread_notifications.count %> >
    <div id="unread_notifications" class="px-4 py-4">
    <%= turbo_stream_from "notifications" %>
      <%= tag.div id: :notifications_display, data: {"notifications-target" => "notifications"} do %>
        <% @unread_notifications.each do |notification| %>
          <%= render 'notification', notification: notification %>
        <% end %>
      <%end%>
    </div>
    <div>
      <div class="hidden" data-notifications-target="read">
      <%= form_tag(read_all_path, method: :post) do %>
          <%= submit_tag 'Mark As Read', class:"bg-secondary hover:bg-primary text-white font-bold py-4 px-4 italic" %>
      <%end%>
      </div>
      <div class="hidden" data-notifications-target="none">
        <h3 class="text-2xl font-bold italic text-secondary">No unread Notifications</h3>
      </div>
    </div>
    
  </div>

  <div id="read_notifications" class="hidden py-4 px-4" data-tabs-target="panel">
    <%= turbo_stream_from "past_notifications" %>
      <% @read_notifications.each do |notification| %>
         <%= render 'notification', notification: notification %>
      <% end %>
  </div>

</div>

