<p style="color: green"><%= notice %></p>

<div class="flex flex-row justify-between items-center mb-4">
  <h1 class="font-extrabold text-xl text-primary"><em>Notifications</em></h1>
</div>

<div data-controller="tabs" data-tabs-active-tab="bg-secondary focus:bg-secondary text-white" data-tabs-inactive-tab="bg-secondary-50">
  <ul class="list-reset flex justify-center mb-5">
    <li class="" data-tabs-target="tab" data-action="click->tabs#change" data-tabs-index-value="1">
      <a class="inline-block py-3 px-6 mx-10 text-white text-xl font-semibold no-underline" href="#"><em>Unread</em></a>
    </li>
    <li class="" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-3 px-6 mx-10 text-white text-xl  font-semibold no-underline" href="#"><em>Past</em></a>
    </li>
  </ul>

  <div class="hidden" data-tabs-target="panel">
    <div class=" px-4 py-4">
    <%= turbo_stream_from "notifications" %>
      <%= tag.div id: :notifications_display do %>
        <% @unread_notifications.each do |notification| %>
          <%= render 'notification', notification: notification %>
        <% end %>
      <%end%>
  </div>
    <%= form_tag(read_all_path, method: :post) do %>
        <%= submit_tag 'Mark As Read', class:"bg-secondary hover:bg-primary text-white font-bold py-4 px-4 w-full italic" %>
    <%end%>
  </div>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <%= turbo_stream_from "past_notifications" %>
      <% @read_notifications.each do |notification| %>
         <%= render 'notification', notification: notification %>
      <% end %>
  </div>

</div>
<div id="notifications">

</div>

