<div id="<%= dom_id talk %>">
  <div class="flex flex-row items-center p-2">
    <div class="flex-grow">
      <p class="my-1">
        <strong class="block font-black italic mb-1 text-lg text-primary">
        <%= talk.start_time.to_fs(:twenty_four_hour_and_minutes) %> - <%= talk.add_duration.to_fs(:twenty_four_hour_and_minutes) %>
        </strong>
      </p>
      
      <p class="my-1">
        <strong class="block font-thin italic text-secondary"> <%= talk.talk_format.titleize %> </strong>
      </p>

      <p>
        <strong class="block font-medium italic text-secondary pr-4"> <%= link_to talk.title, talk %> </strong>
      </p>

      <p class="my-2">
        <% talk.speakers.each do |s| %>
          <strong class="block font-medium mb-1 text-sm text-secondary">Speaker: <%= link_to s.name, s %> </strong>
        <% end %>
      </p>

      <p>
        <strong class="block font-extrabold italic mb-1 text-primary"><%= talk.location %></strong>
      </p>
    </div>

    <div>
      <%= render partial: "shared/add_remove_button", locals: {talk: talk} %>
    </div>
  </div>


  <div>
    <% talk.tags.each do |t| %>
      <span class= "ml-2 py-2 px-2 mb-3 bg-secondary-100 inline-block text-sm font-semibold text-white text-center"><%= t.name %> </span>
    <% end %>
  </div>

  <hr class="mb-2 border-secondary">
</div>

