<div id="<%= dom_id talk %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">
    <%= day_and_time(talk) %> - <%= talk.duration %> mins. - <%= talk.location %> 
    </strong>
  </p>

  <p class="my-5">
    <strong class="block font-heavy mb-1"><%= link_to talk.title, talk %></strong>
  </p>

  <p class="my-5">
    <% talk.speakers.each do |s| %>
      <strong class="block font-medium mb-1"><%= link_to s.name, s %></strong>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">
    <%= talk.talk_format.titleize %> - <%= talk.talk_track.titleize %>
    </strong>
  </p>

  <hr class="mt-6">
</div>
