<div id="<%= dom_id talk %>">
  <div class="flex flex-row items-center">
    <div class="flex-grow">
      <p class="my-4">

        <strong class="block font-bold mb-1 text-lg text-primary">
        <%= talk.start_time.to_fs(:twenty_four_hour_and_minutes) %> - <%= talk.add_duration.to_fs(:twenty_four_hour_and_minutes) %>
        </strong>
      </p>
      
      <p class="my-1">
        <strong class="block font-bold text-secondary"> <%= talk.talk_format.titleize %> </strong>
      </p>

      <p>
        <strong class="block font-medium text-secondary"> <%= link_to talk.title, talk %> </strong>
      </p>

      <p class="my-2">
        <% talk.speakers.each do |s| %>
          <strong class="block font-medium mb-1 text-sm text-secondary">Speaker: <%= link_to s.name, s %> </strong>
        <% end %>
      </p>

      <p class="my-3">
        <strong class="block font-bold mb-1 text-primary"><%= talk.location %></strong>
      </p>

      <p>
        <% talk.tags.each do |t| %>
          <strong class= "mr-2 py-2 px-2 bg-secondary-100 text-medium inline-block font-semibold text-white text-center"><%= t.name %> </strong>

        <% end %>
      </p>

      <%= turbo_frame_tag talk, :talks_users do %>
        <p class="my-5">
          <strong class="block font-bold mb-1">
            <% if talk.selected_by?(current_user) %>
              <%= button_to "Rem", talks_user_path(talk.talks_users.find_by(user: current_user)), method: :delete, 
              class: "py-3 px-5 bg-secondary text-white block font-medium" %>
            <% else %>
              <%= button_to "Add", talks_users_path(talk_id: talk), class: "py-3 px-4 bg-secondary text-white block font-medium" %>
            <% end %>
          </strong>
        </p>
     <% end %> 
    </div>
  </div>

  <hr class="my-6">
</div>

