<div id="<%= dom_id talk %>">
  <div class="flex flex-row items-center border-2 border-secondary-50 p-4">
    <div class="flex-grow">
      <p class="font-bold text-secondary">
        <%= talk.start_time.to_fs(:weekday_month_date) %>  
      </p>
      <p class="my-3">
        <strong class="block font-extrabold mb-1 text-lg text-primary">
        <%= talk.start_time.to_fs(:twenty_four_hour_and_minutes) %> - <%= talk.add_duration.to_fs(:twenty_four_hour_and_minutes) %>
        </strong>
      </p>
      
      <p class="my-1">
        <strong class="block font-bold text-secondary"> <%= talk.talk_format.titleize %> </strong>
      </p>

      <p>
        <strong class="block font-medium text-secondaryi pr-4"> <%= link_to talk.title, talk %> </strong>
      </p>

      <p class="my-2">
        <% talk.speakers.each do |s| %>
          <strong class="block font-medium mb-1 text-sm text-secondary">Speaker: <%= link_to s.name, s %> </strong>
        <% end %>
      </p>

      <p class="my-3">
        <strong class="block font-bold mb-1 text-primary"><%= talk.location %></strong>
      </p>

      <p>
        <% talk.tags.each do |t| %>
          <strong class= "mr-2 py-2 px-2 bg-secondary-100 text-medium inline-block font-semibold text-white text-center"><%= t.name %> </strong>

        <% end %>
      </p>

    </div>
    <div>
      <%= render partial: "shared/add_remove_button", locals: {talk: talk} %>
    </div>
    
  </div>

  <hr class="my-6">
</div>

