<div id="<%= dom_id talk %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">
    <%= talk.start_time.to_fs(:day_and_hour) %> - <%= talk.duration %> mins.
    </strong>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1"><%= talk.talk_format.titleize %>: <%= link_to talk.title, talk %></strong>
  </p>

  <p class="my-5">
    <% talk.speakers.each do |s| %>
      <strong class="block font-medium mb-1"><%= link_to s.name, s %>, <%= s.title %></strong>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= talk.location %></strong>
  </p>

  <%= turbo_frame_tag talk, :talks_users do %>
     <p class="my-5">
      <strong class="block font-bold mb-1">
        <% else %>
          <%= button_to "Add", talks_users_path(talk_id: talk) %>
        <% end %>
      </strong>
    </p>
  <% end %>

  <hr class="mt-6">
</div>

