<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-extrabold text-2xl text-primary mb-6 italic">Agenda</h1>
    
    <% if current_user&.admin? %> <%# TODO add route controlls for unauthenticated users %>
      <%= link_to 'New talk', new_talk_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
    <%= link_to 'Confetti', "#", class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", target: "_blank", data: { controller: "confetti",
                                                                                                                 action: "click->confetti#spray" } %>
    <%= link_to 'Confetti 2', "#", class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", target: "_blank", data: { controller: "confetti",
                                                                                                                   action: "click->confetti#spray",
                                                                                                                   animation_value: "stars",
                                                                                                                   } %>

    <%# <%= tag.div(data: { controller: "confetti", action: "click->confetti#spray"}) do %1> %>
    <%#   Click here! %>
    <%# <% end %1> %>
  </div>

  <div id="talks" class="min-w-full">
    <%= render "shared/tabs_by_day" %>
  </div>
</div>
