<div id="<%= dom_id user %>" class="border-secondary-50 border-2 my-4 rounded pl-4 pt-4 pr-4 pb-1">
   <%= link_to user_path(user) do %>
    <div class="flex flex-row items-center relative">
      <div class="flex-initial max-w-md mr-auto lg:pl-40 p-1">
        <p>
          <strong class="block font-black italic text-lg text-primary lg:text-2xl">
          <%= user.name %>
          </strong>
        </p>
        <h3 class="text-secondary font-semibold text-md italic lg:text-xl">
          <%= user.location %>
        </h3>
        <p class="text-secondary font-sm text-sm italic lg:text-md">
          <%= truncate(user.bio, length:20 , omission: '...')%>
        </p>
      </div>
      <div class="flex-initial left-1/2 lg:pr-24 p-1">
        <% if user.profile_photo.attached? %>
                <%= image_tag user.profile_photo, class:"rounded-full h-[10rem] w-[10rem] lg:w-[12rem] lg:h-[12rem] object-cover" %>
        <% else %>  
                <i class="fa-solid fa-user-secret fa-2xl w-[5rem] h-[5rem] lg:w-[6.5rem] lg:h-[6.5rem] p-10 bg-secondary-50 rounded-full object-cover"></i>
        <% end %>
        </div>
    </div> 
    <%end%>
</div>
