<%= render 'shared/onboarding_header'%>
  <div  class=" px-6 mt-4 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col lg:w-full lg:max-w-lg justify-center">
    <h2 class="block text-primary italic font-extrabold text-lg md:text-2xl md:text-left mb-2 md:mb-0 pr-4">Almost There 🎉</h2>
    <h3 class="text-secondary font-bold text-md md:text-xl italic mb-3 pb-3"> This is how your profile will appear to others</h3>
      <div class="field mb-2 w-full flex flex-col items-center justify-center">
        <div class="flex-none">
          <% if @user.profile_photo.attached? %>
            <%= image_tag @user.profile_photo, class:"rounded-full h-[10rem] w-[10rem] object-cover" %>
          <% else %>  
             <i class="fa-solid fa-user-secret fa-2xl w-[4rem] h-[4rem] lg:w-[6rem] lg:h-[6rem] p-10 bg-secondary-50 rounded-full object-cover"></i>
          <% end %>

         </div>
       <h1 class="mt-2 text-primary italic font-extrabold text-xl lg:text-2xl">
        <%= @user.name %>
        </h1>

        <h3 class="text-secondary font-bold text-md italic">
        <%= @user.location%>
        </h3>

        <p class="text-secondary italic font-bold text-sm p-1">
            <i class="fa-solid fa-user"></i> 
            Your profile is <%= @user.private ? "Private" : "Public"%> 
        </p>
      </div>
      <div>
        
      </div>
      <div class="field text-center text-secondary font-semibold text-md italic my-2">
        <%= @user.bio%>
      </div>

      <div class="field my-1 flex justify-center">
        <%if @user.github != "" %>
            <a href=<%="#{@user.github}"%> target="_blank">
                <i class="fa-brands fa-github fa-2xl mx-3 h-12"  style="color: #3B1D62;"></i>
            </a>
        <%end%> 
        <%if @user.linkedin != "" %> 
            <a href=<%="#{@user.linkedin}"%> target="_blank">
                <i class="fa-brands fa-linkedin fa-2xl mx-3  h-12" style="color: #3B1D62;"></i>
            </a>
        <%end%>
        <%if @user.twitter != "" %>
            <a href=<%="#{@user.twitter}"%> target="_blank">
                <i class="fa-brands fa-twitter fa-2xl mx-3 h-12" style="color: #3B1D62;"></i>
            </a>
        <%end%>
        <%if !@user.private %>
            <i class="fa-solid fa-share-nodes fa-2xl mx-3 h-12" style="color: #3B1D62;"></i>
        <%end%>
      </div>

   
   <div class="flex flex-col text-center" data-controller="decorator">
    <%= button_to "Save", user_profile_path, method: :get, data:{"decorator-target": "anchor", controller: "confetti", action:"click->confetti#schoolPride click->decorator#submit", "animation-value":"30", "confetti-first-color-value": "#CC0000", "confetti-second-color-value": "#3B1D62", "confetti-follow-value": "false"}, class: "bg-secondary hover:bg-primary text-white font-bold py-4 px-4 w-full italic my-3 mx-auto md:w-3/4"%>
   
    <%= link_to "Back", :back, data: { turbo_frame: "_top" }, :class => "bg-secondary-100 hover:bg-primary text-white font-bold py-4 px-4 w-full italic my-3 mx-auto md:w-3/4" %>
   </div>
  </div>
