<%= render 'shared/onboarding_header'%>
<div>
  <div class=" px-6 mt-4 sm:mx-auto w-full sm:max-w-sm flex flex-col justify-center">
    <h2 class="block text-primary italic font-extrabold text-lg w-full md:text-left mb-2 md:mb-0 pr-4">Create Your Profile</h2>
    <%= form_for(@user, url: registration_path(@user), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <label class="text-secondary italic font-bold">Upload a photo</label>
      <div class="field mb-2 w-full flex flex-col items-center justify-center">
        <%= render "image_preview", f: f, user: @user%>
        <h1 class="mt-4 text-primary italic font-extrabold text-xl"><%= @user.name %></h1>
      </div>
     
      <div class="field mb-2">
        <%= f.label :bio , class: "block text-primary italic text-sm font-bold mb-2"%>
        <%= f.text_area :bio, autofocus: true, size: "5x4", placeholder: "Short Bio", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="field mb-2">
        <%= f.label :location , class: "block text-primary italic text-sm font-bold mb-2"%>
        <%= f.text_field :location, autofocus: true, placeholder: "Location",  class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="field mb-2">
         <%= f.label "Social Links" , class: "block text-primary italic text-sm font-bold mb-2"%>
          <%= f.text_field :github, autofocus: true, placeholder: "https://github.com/",  class: "shadow appearance-none border rounded w-full py-2 px-3  my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          <%= f.text_field :linkedin, autofocus: true, placeholder: "https://www.linkedin.com/in/",  class: "shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          <%= f.text_field :twitter, autofocus: true, placeholder: "https://twitter.com/ OR https://x.com/",  class: "shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

   
        <div class="flex justify-between mb-2">
          <%= f.label "Make Profile Private", class: "text-secondary font-extrabold italic" %>
          <%= f.check_box :private, as: :boolean, class: "#{ !@user.private? ? 'bg-secondary-50' : 'bg-gray-200 accent-primary' } accent-primary relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2", role: 'switch', 'aria-checked': false do %> 
            <span class="sr-only">Private</span>
            <span aria-hidden="true" class="translate-x-0 <%= !@user.private? ? 'translate-x-5 bg-primary' : 'translate-x-0 bg-primary' %>  pointer-events-none inline-block h-5 w-5 transform rounded-full accent-primary shadow ring-0 transition duration-200 ease-in-out"></span>
         <% end %>
        </div>

        <div class="flex justify-between mb-2">
          <%= f.label "Receive Email Notifications", class: "text-secondary font-extrabold italic" %>
          <%= f.check_box :receive_email_notifications, as: :boolean, class: "#{ !@user.receive_email_notifications? ? 'bg-secondary-50' : 'bg-gray-200' } relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2", role: 'switch', 'aria-checked': false do %> 
            <span class="sr-only">Email Notifications</span>
            <span aria-hidden="true" class="translate-x-0 <%= !@user.receive_email_notifications? ? 'translate-x-5 bg-primary' : 'translate-x-0' %>  pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
         <% end %>
        </div>
  

      <div class="actions my-6">
        <%= f.submit "Done", class: "bg-secondary hover:bg-primary active:bg-primary text-white font-bold py-4 px-4 w-full italic" %>
      </div>
    <% end %>

    <%#= link_to "Back", :back, data: { turbo_frame: "_top" }, :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-fit" %>
  </div>
</div>