<div class="container text-center mt-8 ">
 <% if notice.present? %>
    <p class="py-2 px-3 bg-secondary-50 mb-5 text-secondary-100 font-medium rounded-lg inline-block align-center" id="notice"><%= notice %></p>
  <% end %>
  <div  class=" px-6 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col lg:w-full lg:max-w-lg justify-center">
    <h2 class="block text-primary italic font-extrabold text-2xl mb-4  pr-4 sm:text-left lg:text-4xl text-left lg:text-left">My Profile</h2>
      <div class="field my-2 w-full flex flex-col items-center justify-center">
        <% if @user.profile_photo.attached? %>
        <a data-controller="confetti" data-action="click->confetti#schoolPride" data-animation-value="school-pride" data-confetti-first-color-value="#CC0000" 
        data-confetti-second-color-value="#3B1D62" data-duration-value="10" data-confetti-debug-value="true">
            <%= image_tag @user.profile_photo, class:"rounded-full h-[12rem] w-[12rem] lg:w-[12rem] lg:h-[12rem] object-cover" %>
        </a>
        <% else %>  
            <i class="fa-solid fa-user-secret fa-2xl w-[4rem] h-[4rem] lg:w-[6rem] lg:h-[6rem] p-10 bg-secondary-50 rounded-full object-cover"></i>
        <% end %>

        <h1 class="mt-2 text-primary italic font-extrabold text-xl lg:text-2xl">
        <%= @user.name %>
        </h1>

        <h3 class="text-secondary font-bold text-md italic">
        <%= @user.location%>
        </h3>

        <p class="text-secondary italic font-bold text-sm p-1">
            <i class="fa-solid fa-user"></i> 
            Your profile is <%= @user.private ? "Private" : "Public"%> 
        </p>
      </div>
      <div>
        
      </div>
      <div class="field text-center text-secondary font-semibold text-md italic my-2">
        <%= @user.bio%>
      </div>

      <div class="field my-2 flex justify-center">
        <%if @user.github != "" %>
            <a href=<%="#{@user.github}"%> target="_blank">
                <i class="fa-brands fa-github fa-2xl mx-3 h-12 lg:h-18"  style="color: #3B1D62;"></i>
            </a>
        <%end%> 
        <%if @user.linkedin != "" %> 
            <a href=<%="#{@user.linkedin}"%> target="_blank">
                <i class="fa-brands fa-linkedin fa-2xl mx-3  h-12 lg:h-18" style="color: #3B1D62;"></i>
            </a>
        <%end%>
        <%if @user.twitter != "" %>
            <a href=<%="#{@user.twitter}"%> target="_blank">
                <i class="fa-brands fa-twitter fa-2xl mx-3 h-12 lg:h-18" style="color: #3B1D62;"></i>
            </a>
        <%end%>
        <%if !@user.private && @user.qrcode.attached? %>
        <div data-controller="dialog">
          <button data-action="click->dialog#open">
            <i class="fa-solid fa-share-nodes fa-2xl mx-3 h-12 lg:h-18" style="color: #3B1D62;"></i>
          </button>
          <dialog data-dialog-target="modal" class="backdrop:bg-secondary-50 backdrop:opacity-80 w-full md:w-1/4">
            <div class="p-4 bg-secondary justify-center">
              <p><%= image_tag(url_for(@user.qrcode), class:"mx-auto w-full")%></p>
              <form>
                <button formmethod="dialog" class="text-secondary-50 italic font-extrabold text-2xl mt-4">Close</button>
              </form>
            </div>
          </dialog>
        </div>
        <%end%>
      </div>

   
   <div class="flex flex-col text-center">

    <%= link_to talks_users_path, :class=>"bg-secondary hover:bg-primary text-white font-bold w-full  py-3 px-3 mx-auto md:w-3/4 italic my-2" do %>
        <div class="flex flex-row justify-center items-center ">
            <i class="fa-solid fa-clock fa-2xl flex-1"></i>
            <h3 class=" ">My Schedule</h3>
            <div class="flex-1"></div>
        </div>
    <%end%>
   
    <%= link_to talks_path, :class => "bg-secondary hover:bg-primary text-white font-bold w-full  py-3 px-3 mx-auto md:w-3/4 italic my-2" do %>
        <div class="flex flex-row justify-center items-center">
            <i class="fa-solid fa-calendar-days fa-2xl flex-1"></i>
            <h3 class="">Agenda</h3>
            <div class="flex-1"></div>
        </div>
    <%end%>

    <%= link_to edit_user_registration_path, :class => "bg-secondary-100 hover:bg-primary text-white font-bold py-4 px-4 mx-auto md:w-3/4 w-full italic my-2" do %>
        <div class="flex flex-row justify-center items-center">
            <div class="flex-1"></div>
            <h3>Edit Profile / Settings</h3>
            <div class="flex-1"></div>
        </div>
    <%end%>
    </div>
  </div>
</div>

