<% if !current_user %>
    <%= render 'shared/onboarding_header'%>
<%end%>
<div class=" text-center">
  <div  class=" sm:mx-auto sm:w-full sm:max-w-sm flex flex-col lg:w-full lg:max-w-lg justify-center">
     <div class="field my-2 w-full flex flex-col items-center justify-center">
        <% if @user.profile_photo.attached? %>
            <%= image_tag @user.profile_photo, class:"rounded-full h-[10rem] w-[10rem] lg:w-[12rem] lg:h-[12rem] object-cover" %>
        <% else %>  
            <i class="fa-solid fa-user-secret fa-2xl w-[5rem] h-[5rem] lg:w-[6rem] lg:h-[6rem] p-10 bg-secondary-50 rounded-full object-cover"></i>
        <% end %>

        <h1 class="mt-4 text-primary italic font-extrabold text-xl lg:text-2xl">
        <%= @user.name %>
        </h1>

        <h3 class="text-secondary font-bold text-md italic">
        <%= @user.location%>
        </h3>

      </div>
      <div>
        
      </div>
      <div class="field text-center text-secondary font-semibold text-md italic my-2">
        <%= @user.bio%>
      </div>

      <div class="field my-4 flex justify-center">
        <%if @user.github != "" && !@user.github.nil?%>
            <a href=<%="#{@user.github}"%> target="_blank">
                <i class="fa-brands fa-github fa-2xl mx-3 h-12 text-secondary hover:text-primary"></i>
            </a>
        <%end%> 
        <%if @user.linkedin != "" && !@user.linkedin.nil?%> 
            <a href=<%="#{@user.linkedin}"%> target="_blank">
                <i class="fa-brands fa-linkedin fa-2xl mx-3  h-12 text-secondary hover:text-primary"></i>
            </a>
        <%end%>
        <%if @user.twitter != "" && !@user.twitter.nil? %>
            <a href=<%="#{@user.twitter}"%> target="_blank">
                <i class="fa-brands <%=(@user.twitter.include?("twitter") || @user.twitter.include?("x")) ? "fa-twitter" : "fa-mastodon"%> fa-2xl mx-3 h-12 text-secondary hover:text-primary"></i>
             </a>
        <%end%>
        <%if !@user.private && @user.qrcode.attached?  %>
        <div data-controller="dialog">
            <button data-action="click->dialog#open">
              <i class="fa-solid fa-share-nodes fa-2xl mx-3 h-12 lg:h-18 text-secondary hover:text-primary"></i>
            </button>
            <dialog data-dialog-target="modal" class="backdrop:bg-white backdrop:opacity-80 w-full md:w-1/4">
              <div class="p-4 bg-secondary justify-center">
                <h3 class="text-white italic font-extrabold text-2xl mb-4">Share Your Profile!</h3>
                <p><%= image_tag(url_for(@user.qrcode), class:"mx-auto w-full px-2")%></p>
                <form>
                  <button formmethod="dialog" class="text-center bg-secondary-100 hover:bg-primary text-white italic font-extrabold text-2xl mt-4 py-2 px-6">Close</button>
                </form>
              </div>
            </dialog>
          </div>
        <%end%>
      </div>
  </div>
</div>