<footer class="text-secondary text-xs mt-6 mb-3 font-bold italic mx-auto md:w-2/3 w-full">
        <!-- <hr class="mb-2 border-secondary"> -->
        <p>
                This website was created by
                <%= link_to "Eric Halverson", "https://www.linkedin.com/in/elhalverson/", class: "text-primary", :target => "_blank" %> 
                and 
                <%= link_to "Shami Tomita-Rodriguez", "https://www.linkedin.com/in/shami-tomita-rodriguez/", class: "text-primary", :target => "_blank" %>, an early career developer team from the
                <%= link_to "Agency of Learning", "https://agencyoflearning.com/", class: "text-primary", :target => "_blank" %>.
                It was commissioned by the <%= link_to "Rails Foundation", "https://rubyonrails.org/foundation", class: "text-primary", :target => "_blank" %>, designed by
                <%= link_to "Katya Sitko", "https://katya-sitko.netlify.app/", class: "text-primary", :target => "_blank" %>
                and created under the mentorship of
                <%= link_to "Cody Norman", "https://www.codynorman.com/", class: "text-primary", :target => "_blank" %>
                and 
                <%= link_to "Daniel Rassiner", "https://www.linkedin.com/in/drassiner/", class: "text-primary", :target => "_blank" %>.
        </p>
</footer>