<div id="<%= dom_id talk %>" class="border-secondary-50 border-2 my-4 rounded pl-4 pt-4 pr-4 pb-1">
  <div class="flex flex-col align-content-start">
    <div class="flex flex-row justify-between relative">
      <div>
        <p>
          <strong class="block font-black italic text-lg text-primary">
          <%= talk.start_time.to_fs(:twenty_four_hour_and_minutes) %> - <%= talk.add_duration.to_fs(:twenty_four_hour_and_minutes) %>
          </strong>
        </p>
      </div>
      <div class="absolute top-0 right-0">
        <%= render partial: "shared/add_remove_button", locals: {talk: talk} %>
      </div>
    </div> 

    <div> 
        
      <p class="my-1">
        <strong class="block font-black italic text-secondary text-lg"> <%= talk.talk_format.titleize %> </strong>
      </p>

      <p>
        <strong class="block font-semibold italic text-secondary pr-4"> <%= link_to talk.title, talk %> </strong>
      </p>

      <p class="my-2">
        <% talk.speakers.each do |s| %>
          <div class="flex flex-row items-center">
            <div class="mr-3 flex-none mb-2">
              <%= image_tag(s.image_filename, class: "rounded-full h-12 w-12 object-cover") %>
            </div>
          
            <div class="block font-bold italic mb-1 text-sm text-secondary">
              <%= link_to s.name, s %>, <%= s.title %> 
            </div>
          </div>
        <% end %>
      </p>

      <p>
        <strong class="block font-extrabold italic mb-1 text-primary"><%= talk.location %></strong>
      </p>
    </div>

  </div>

  <div>
    <% talk.tags.each do |t| %>
      <span class= " py-2 px-2 mb-1 rounded bg-secondary-100 inline-block text-sm font-semibold italic text-white text-center"><%= t.name %> </span>
    <% end %>
  </div>

  <%= link_to "Add to Google Calendar", talk.add_to_cal_object.google_url, class: "btn btn-primary italic text-xs", target: "_blank" %> /
  <%= link_to "Add to iCal", talk.add_to_cal_object.ical_url, class: "btn btn-primary italic text-xs", target: "_blank" %>
  

</div>

