<div data-controller="tabs" data-tabs-active-tab="bg-secondary focus:bg-secondary text-white text-2xl font-black italice" data-tabs-inactive-tab="bg-secondary-50">
  <ul class="list-reset flex justify-center mb-2">
    <li class="w-full text-center" data-tabs-target="tab" data-action="click->tabs#change" data-tabs-index-value="1">
      <a class="inline-block py-4 px-10 text-white text-xl font-bold italic no-underline" href="#">Upcoming</a>
    </li>
    <li class="w-full text-center" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-4 px-10 text-white text-xl font-bold italic no-underline" href="#">Past</a>
    </li>
  </ul>

  <div class="hidden py-4" data-tabs-target="panel">

    <div class="flex flex-row justify-center">
      <div>
        <% if (@day_one_talks_upcoming)&.any? %>
          <h2 class="font-extrabold italic text-xl text-secondary">Wed, Oct 4</h2>
        <% end %>
      </div>
    </div>

    <div id="talks" class="min-w-full">
      <% @day_one_talks_upcoming&.each do |talk| %>
        <%= render "shared/my_schedule_talk", talk: talk %>
      <% end %>
    </div>

    <div class="flex flex-row justify-center">
      <div>
        <% if (@day_two_talks_upcomimg)&.any? %>
          <h2 class="font-extrabold italic text-xl text-secondary">Thurs, Oct 5</h2>
        <% end %>
      </div>
    </div>

    <div id="talks" class="min-w-full">
      <% @day_two_talks_upcomimg&.each do |talk| %>
        <%= render "shared/my_schedule_talk", talk: talk %>
      <% end %>
    </div>

    <div class="flex flex-row justify-center">
      <div>
        <% if (@day_three_talks_upcoming)&.any? %>
          <h2 class="font-extrabold itlic text-xl text-secondary">Fri, Oct 6</h2>
        <% end %>
      </div>
    </div>
    
    <div id="talks" class="min-w-full">
      <% @day_three_talks_upcoming&.each do |talk| %>
        <%= render "shared/my_schedule_talk", talk: talk %>
      <% end %>
    </div>

  </div>
  
  <div class="hidden py-4" data-tabs-target="panel">
    <div class="flex flex-row justify-center">
      <div>
        <% if (@day_one_talks_past)&.any? %>
          <h2 class="font-extrabold italic text-xl text-secondary">Wed, Oct 4</h2>
        <% end %>
      </div>
    </div>

    <div id="talks" class="min-w-full">
      <% @day_one_talks_past&.each do |talk| %>
        <%= render "shared/my_schedule_talk", talk: talk %>
      <% end %>
    </div>

    <div class="flex flex-row justify-center">
      <div>
        <% if (@day_two_talks_past)&.any? %>
          <h2 class="font-extrabold italic text-xl text-secondary">Thurs, Oct 5</h2>
        <% end %>
      </div>
    </div>

    <div id="talks" class="min-w-full">
      <% @day_two_talks_past&.each do |talk| %>
        <%= render "shared/my_schedule_talk", talk: talk %>
      <% end %>
    </div>

    <div class="flex flex-row justify-center">
      <div>
        <% if (@day_three_talks_past)&.any? %>
          <h2 class="font-extrabold italic text-xl text-secondary">Fri, Oct 6</h2>
        <% end %>
      </div>
    </div>
    
    <div id="talks" class="min-w-full">
      <% @day_three_talks_past  &.each do |talk| %>
        <%= render "shared/my_schedule_talk", talk: talk %>
      <% end %>
    </div>


  </div>

</div>