<%= render 'shared/onboarding_header'%>
<div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col justify-center text-primary italic">
  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "bg-white px-8 pt-6 pb-8 mb-4"}) do |f| %>
      <h1 class="text-3xl mb-3 font-extrabold dark:text-white flex w-full">Login</h1>

      <div id="flash" class="empty:hidden px-4 flex justify-center my-1">
        <%= render "shared/flash_messages" %>
      </div>
      
     <div class="field mb-8">
            <%= f.label :email, class: "block text-sm font-bold mb-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

      <div class="field mb-4">
        <%= f.label :password, class: "block text-sm font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password",  class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
      <%= link_to "Forgot Password?", new_user_password_path, data: { turbo_frame: "_top" }, :class => "" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field flex md:flex md:items-center lg:items-start mb-6 ml-1">
          <span class="text-sm">
              <%= f.check_box :remember_me,  class: "mr-2 leading-tight" %>
          </span>
          <%= f.label :remember_me, class: "md:w-2/3 block text-gray-500 font-bold" %>
        </div>
      <% end %>

    
      <div class="actions w-full flex flex-col text-center">
        <%= f.submit "Log in",  data: { turbo_frame: "_top" }, :class => "bg-secondary hover:bg-primary text-white font-bold py-4 px-4 w-full italic my-2" %>
        <%= link_to("Go Back", root_path, data: { turbo_frame: "_top" }, method: :get, :class => "bg-secondary-100 hover:bg-primary text-white font-bold py-4 px-4 w-full italic my-2") %>
      </div>
    <% end %>
    
  </div>
</div>