<h1 class="font-black italic text-2xl text-primary mt-4 mb-1 mx-auto">Introducing the team behind the Rails World Conference App</h1>
<section class="text-secondary font-medium italic mx-auto md:w-2/3 w-full mb-4">
  <br>
  <p>In May, 2023, the <%= link_to "Rails Foundation", "https://rubyonrails.org/foundation", class: "text-primary", :target => "_blank" %> announced a partnership with the <%= link_to "Agency of Learning", "https://agencyoflearning.com/", class: "text-primary", :target => "_blank"%>
  to create an event app for <%= link_to "Rails World 2023", "https://rubyonrails.org/world", class: "text-primary", :target => "_blank" %>.</p>
  <br>

  <p>This collaboration was intended to create a valuable learning opportunity for early career developers while enhancing the event experience for
  Rails World attendees.</p> <br>

  <p>The team consisted of two early-career developers working with a designer and mentored by two senior developers.</p><br>

  <p><%= link_to "Shami Tomita", "https://www.linkedin.com/in/shami-tomita-rodriguez/", class: "text-primary", :target => "_blank" %> is a junior full-stack developer from the Rails community. More stuff about Shami</p><br>
  <p><%= link_to "Eric Halverson", "https://www.linkedin.com/in/elhalverson/", class: "text-primary", :target => "_blank" %> is a junior full-stack developer from the Rails community. More stuff about Eric</p><br>

  <p><%= link_to "Katya Sitko", "https://katya-sitko.netlify.app/", class: "text-primary", :target => "_blank" %> is a junior UX developer from the Rails community who completed her web development bootcamp at Le Wagon while designing the UX of the Rails World website. She is from Ireland and lives in Berlin.</p><br>

  <p><%= link_to "Cody Norman", "https://www.codynorman.com/", class: "text-primary", :target => "_blank" %> is a senior developer from the Rails community. More stuff about Cody</p><br>

  <p><%= link_to "Daniel Rassiner", "https://www.linkedin.com/in/drassiner/", class: "text-primary", :target => "_blank" %>. is a senior developer from the Rails community. More stuff about Daniel</p><br>

  <p>This team’s dedication and creativity have been instrumental in making the Rails World Conference app a reality. We are grateful for their time and effort.</p>
</section>