<h1 class="font-black italic text-2xl text-primary mt-4 mb-1 mx-auto">Introducing the team behind the Rails World Conference App</h1>
<section class="text-secondary font-medium italic mx-auto md:w-2/3 w-full mb-4">
  <br>
  <p>In May, 2023, the <%= link_to "Rails Foundation", "https://rubyonrails.org/foundation", class: "text-primary", :target => "_blank" %> announced a partnership with the <%= link_to "Agency of Learning", "https://agencyoflearning.com/", class: "text-primary", :target => "_blank"%>
  to create an event app for <%= link_to "Rails World 2023", "https://rubyonrails.org/world", class: "text-primary", :target => "_blank" %>.</p>
  <br>

  <p>This collaboration was intended to create a valuable learning opportunity for early career developers while enhancing the event experience for
  Rails World attendees.</p> <br>

  <p>The team consisted of two early-career developers working with a designer and mentored by two senior developers.</p><br>

  <p><%= link_to "Shami Tomita-Rodriguez", "https://www.linkedin.com/in/shami-tomita-rodriguez/", class: "text-primary", :target => "_blank" %> is an Open Source Contributor, Rubyist, and Full Stack Developer from the Rails community. They live in Philadelphia, Pennsylvania.</p><br>
  <p><%= link_to "Eric Halverson", "https://www.linkedin.com/in/elhalverson/", class: "text-primary", :target => "_blank" %> is an Open Source Contributor, Rubyist, and Full Stack Developer from the Rails community. He lives in Aliso Viejo, California</p><br>

  <p><%= link_to "Katya Sitko", "https://katya-sitko.netlify.app/", class: "text-primary", :target => "_blank" %> is a junior UX developer from the Rails community who completed her web development bootcamp at Le Wagon while designing the UX of the Rails World website. She is from Ireland and lives in Berlin.</p><br>

  <p><%= link_to "Cody Norman", "https://www.codynorman.com/", class: "text-primary", :target => "_blank" %> is a senior developer from the Rails community. A former loan officer, Cody has been working in software development since 2014. Cody lives in a small town in Colorado and is an avid fly fisherman.</p><br>

  <p><%= link_to "Daniel Rassiner", "https://www.linkedin.com/in/drassiner/", class: "text-primary", :target => "_blank" %>. is a senior software developer, and Open Source Contributor, who specializes in back-end development with Ruby on Rails but is comfortable working in multiple languages. Daniel lives in Orange County, California.</p><br>

  <p>This team’s dedication and creativity have been instrumental in making the Rails World Conference app a reality. We are grateful for their time and effort. Please let us know what you think below.</p>
</section>
<div class="mx-auto my-2 mt-4 py-4 px-14 bg-secondary text-lg font-bold text-white text-center md:w-2/3 w-full">
  <%= link_to 'Send Feedback', new_comment_path %>
</div>
