<h1 class="font-black italic text-2xl text-center text-primary mt-4 mb-1 mx-auto">Introducing the team behind the Rails World Conference App</h1>
<section class="text-secondary font-medium italic mx-auto md:w-2/3 w-full mb-4">
  <br>
  <p>In May, 2023, the <%= link_to "Rails Foundation", "https://rubyonrails.org/foundation", class: "text-primary", :target => "_blank" %> announced a partnership with the <%= link_to "Agency of Learning", "https://agencyoflearning.com/", class: "text-primary", :target => "_blank"%>
  to create an event app for <%= link_to "Rails World 2023", "https://rubyonrails.org/world", class: "text-primary", :target => "_blank" %>.</p>
  <br>

  <p>This collaboration was intended to create a valuable learning opportunity for early career developers while enhancing the event experience for
  Rails World attendees.</p> <br>

  <p>The team consisted of two early-career developers from the Agency of Learning working with an early-career designer and mentored by two senior developers, also from the Agency of Learning.</p><br>
  <h2 class="font-bold mb-3 text-center text-lg">Here is the team behind the app!</h2>
</section>

<% @contributors.each do |contributor| %>
  <div class="flex flex-col items-center mx-auto md:w-2/3 w-full">
    <div>
      <%= image_tag(contributor.image_filename, class: "rounded-full h-40 w-40 object-cover") %>
    </div>
    <p class="my-2">
      <strong class="font-extrabold text-2xl text-primary mb-6 italic"><%= contributor.name%></strong>
    </p>
    <p>
      <strong class="font-bold text-sm text-secondary"><%= contributor.title %></strong>
    </p>

    <div class="flex flex-col items-center">

      <div>
        <p class="my-4 block font-lg text-secondary">
          <%= contributor.bio %>
        </p>
      </div>

      <div class="flex flex-row justify-between mb-4">
        <% unless contributor.github.empty? %>
          <%= link_to contributor.github, :target => '_blank' do %>
            <i class="fa-brands fa-github w-12 h-12 mx-4 text-secondary hover:text-secondary-100"></i>
          <% end %>
        <% end %>

        <% unless contributor.linkedin.empty? %>
          <%= link_to contributor.linkedin, :target => '_blank' do %>
            <i class="fa-brands fa-linkedin w-12 h-12 mx-4 text-secondary hover:text-secondary-100"></i>
          <% end %>
        <% end %>
        
        <% unless contributor.twitter.empty? %>
          <%= link_to contributor.twitter, :target => '_blank' do %>
            <i class="fa-brands fa-twitter w-12 h-12 mx-4 text-secondary hover:text-secondary-100"></i>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>
 <hr class="mb-3 border-secondary">
<% end %>

<p class="my-4 block font-lg text-secondary mx-auto md:w-2/3 w-full">This team’s dedication and creativity have been instrumental in making the Rails World Conference app a reality. We are grateful for their time and effort. Please let us know what you think below.</p>

  <%= link_to new_comment_path do%>
    <div class="mx-auto my-2 mt-4 py-4 px-14 bg-secondary hover:bg-primary  text-lg font-bold text-white text-center md:w-2/3 w-full">
      Send Feedback
    </div>
  <% end %>
