<% @contributors.each do |contributor| %>
  <div class="flex flex-col items-center">
    <div>
      <%= image_tag(contributor.image_filename, class: "rounded-full h-40 w-40 object-cover") %>
    </div>
    <p class="my-2">
      <strong class="font-extrabold text-2xl text-primary mb-6 italic"><%= contributor.name%></strong>
    </p>
    <p>
      <strong class="font-bold text-sm text-secondary"><%= contributor.title %></strong>
    </p>

    <div class="flex flex-col items-center">

      <div>
        <p class="my-4 block font-lg text-secondary">
          <%= contributor.bio %>
        </p>
      </div>

      <div class="flex flex-row justify-between mb-4">
        <% unless contributor.github.empty? %>
          <%= link_to contributor.github, :target => '_blank' do %>
            <i class="fa-brands fa-github w-12 h-12 mx-4 text-secondary"></i>
          <% end %>
        <% end %>

        <% unless contributor.linkedin.empty? %>
          <%= link_to contributor.linkedin, :target => '_blank' do %>
            <i class="fa-brands fa-linkedin w-12 h-12 mx-4 text-secondary"></i>
          <% end %>
        <% end %>
        
        <% unless contributor.twitter.empty? %>
          <%= link_to contributor.twitter, :target => '_blank' do %>
            <i class="fa-brands fa-twitter w-12 h-12 mx-4 text-secondary"></i>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>
 <hr class="mb-2 border-secondary">
<% end %>
