<!DOCTYPE html>
<html>
  <head>
    <title>RailsWorldConf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
        <%= turbo_stream_from dom_id(current_user, :broadcast_to) %>
        <%= turbo_stream_from "mobile" %>
        <%= turbo_stream_from "menu" %>
    <% end %>
      <%= render "shared/navbar" %>
    <div class="container mx-auto px-6 pt-20">
      <div class="flex min-h-full flex-col justify-center lg:px-8">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
