<!DOCTYPE html>
<html>
  <head>
    <title>RailsWorldConf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
     
      <% if current_user && !controller.action_name.include?("onboarding")%> <%# this feels not great%>
          <%= turbo_stream_from dom_id(current_user, :broadcast_to) %>
          <%= turbo_stream_from "mobile" %>
          <%= turbo_stream_from "menu" %>
        <%= render "shared/navbar" %>
    </div>
    <div class="container mx-auto px-6 pt-20 ">
      <div class="flex min-h-full flex-col justify-center lg:px-8">
        <%= yield %>
      </div>
    </div>  
     <%else%>
    <div class="bg-secondary h-screen text-white">
      <div class=" flex justify-center pt-24 px-24 w-full">
        <%= svg 'rails_world_landing' %>
      </div>
      <div class="container mx-auto px-6 pt-20 ">
        <div class="flex min-h-full flex-col justify-center lg:px-8">
          <%= yield %>
        </div>
      </div>
    </div>
    <% end %> 
  </body>
</html>
